/* div {
    border: 3px solid red;
    padding: 30px;
    margin: 20px;
} */

section {
    border: 3px solid red;
    text-align: center;
}

#text-info {
    border: 3px solid blue;
}

#nest-video {
    border: 3px solid green;
}

div {
    display: inline-block;
    width: 30%;
    margin: 20px;
}

#nest-video img {
    width: 100%;
}