div {
    background-color: blueviolet;
}

.top3 {}

#landing-page {
    border: 3px solid blue;
    height: 100wh;
    background-image: url("./travel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

/*
update github with 3 comments: add, commit, push
*/